\section{Solver Implementation}

The following Python solver was used to compute the solution.

\begin{lstlisting}[language=Python, caption={Solver source code}]
\VAR{solution.solver_code}
\end{lstlisting}
